@model ProductUI.Models.Product

<h2>Add Product</h2>

<form method="post">
    Name: <input asp-for="Name" /><br />
    Price: <input asp-for="Price" /><br />
    Category: <input asp-for="Category" /><br />

    <button type="submit">Save</button>
</form>