@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://deploudemovs-abcbawfrfsckayht.southeastasia-01.azurewebsites.net/">building Web apps with ASP.NET Core</a>.</p>
</div>
